.yellowbelow
{
	background-color:yellow;
	padding-bottom:0px;
	border-color:yellow;
	with:80%;
}

.navbar-inverse
{
	background-color:gold;
	border-color:purple;
	color:blue;
}

.navbar-header
{
	color:green;
}

.image
{
	background-url:();
}